- content_for :head do
	= javascript_include_tag "app/model/IndicatorList.js", 
                            "app/store/<%= plural_table_name.capitalize %>.js",
                            "app/view/<%= singular_table_name %>/Form.js", 
                            "app/view/<%= singular_table_name %>/EditWindow.js", 
                            "app/view/<%= singular_table_name %>/Grid.js",
                            "app/controller/<%= plural_table_name.capitalize %>.js"

= render :partial => "shared/content_heading"

.gutter
	#<%= plural_table_name %>_main

= render :partial => "shared/content_footer"